.loginbox {
    width: 50%;
    /* text-align: center; */
    /* position: relative; */
    /* left: 50%; */
    /* transform: translate(-50%, 20%); */
    padding: 20px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
}

.loginSubmit {
    /* margin: 0; */
    position: relative;
    /* top: 50%; */
    left: 50%;
    /* -ms-transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
}

.loginbox p {
    color: black;
}
